a {
	text-decoration: none;
}
a:visited {
	color: #8A1919;
}
a:active {
	color: #FF0000;
}
a:hover {
	color: #FF0000;
}
body {
	font-family: sans-serif;
	font-size: 12px;
	background-color: #fff;
	padding: 0px;
	margin: 0px; 
	border: 0px;
}
div#header {
	background-image: url(../img/rp_top.jpg);
	background-repeat: no-repeat;
	height: 102px;
	margin: 0 auto;
	position: relative;
	width: 800px;
}
div#wrapper { 
	height: auto;
	left: 0px;
	position: absolute;
	top: 0px;
}
html, body, div#wrapper { 
	height: 100%;
	min-height: 100%;
	width: 100%;
}
html>body, html>body div#wrapper {
	height: auto; /*this undoes the IE hack, hiding it from IE using the child selector*/
}
div#wrapper {
	left: 0;
	position: absolute;
	top: 0;
}
div#content {
	margin: 0 auto 119px auto;
	width: 800px;
}
div#footer {
	bottom: 0px;
	position: absolute;
	background-image: url(../img/rp_bottom.jpg);
	background-position: 50% 0%;
	background-repeat: no-repeat;
	height: 100px;
	margin: 0 auto;
	width: 100%;
}
div#footer, div#footer a:link {
	color: #FFF;
	font-size: 8pt;
	line-height: 16pt;
	text-align: center;
}
div#footer a {
	font-weight: bold;
}
div#footer a:hover, div#footer a:visited {
	color: Silver;
}
div#footer a:hover {
	text-decoration: underline;
}
div#footer div.credits {
	font-size: 10pt;
	line-height: 12px;
	padding-top: 60px;
}
div#footer span.developer {
	font-size: 12pt;
	line-height: 28px;
}
div#menu {
	font-size: 11px;
	bottom: 0px;
	padding: 0 6px;
	position: absolute;
	text-align: left;
}
div#menu a, div#menu a:visited, div#menu a:active, div#menu a:hover, div#menu a:visited {
	color: #FFF;
}
div#menu div.language {
	float: left;
	padding: 3px 1px;
}
div#menu div.item {
	background-image: url(../img/menu/itembg.png);
	background-repeat: repeat-x;
	float: left;
	height: 22px;
	padding-top: 3px;
}
div#menu div.item-left, div#menu div.item-right {
	float: left;
	height: 22px;
	width: 10px;
}
div#menu div.item-left {
	background-image: url(../img/menu/[.png);
	margin-left: 2px;
}
div#menu div.item-right {
	background-image: url(../img/menu/].png);
}
div#site_name {
	color: #fff;
	font-size: 32pt;
	font-weight: bold;
	line-height: 45px;
	text-align: center;
}
form {
	margin: 0px;
	padding: 0px;
}
img {
	border: 0px;
}
input, textarea, select {
	margin: 2px;
}
table, th, td {
	border: 0px solid black;
	border-collapse : collapse;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}
td {
	vertical-align: top;
}
.title {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}
.photo {
	padding: 2px;
	text-align: center;
}
.ssc {
	font-size: 12px;
	text-align: center;
}
.cell {
	border: 1px solid #497D3A;
	padding: 5px;
}
